.title{
    position: absolute;
width: 369px;
height: 48px;
left: 241px;
top: 401px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
text-align: center;
letter-spacing: -0.02em;
}